.canvas {

	position:relative;
	
	//border: 1px solid black;
	background: black;
	
	&.canvas-background, &canvas {
		width: inherit;
		height: inherit;
		position: absolute;
		top: 0px;
		lefft: 0px;
	}
	
}